*{
	margin: 0;
	padding:0;
}
body{
color :blue;
}
.SignIn{
	position: absolute;
	top: 25%;
	left: 46%;

}
h1{
	border-style: dashed;
    border-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-color: red;
    padding: 5px;
}
.email{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: none;
	background-color:none;
	border-bottom: 1px solid red;
}
.email input{
	border: hidden;
	outline: hidden;
	background:none;
	font-size: 18px;
	margin: 0 10px;
	width: 80%;
	text-decoration: none;
}
.password{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-bottom: 1px solid red;
}
.password input{
	border: hidden;
	outline: hidden;
	background:none;
	font-size: 18px;
	margin: 0 10px;
	width: 80%;
	text-decoration: none;
}
.button{
	position: absolute;
	top: 60%;
	left:50%;
	transform: translate(-50%,-50%);
	border: hidden;
	outline: hidden;
	background:none;
	font-size: 18px;
	margin: 0 10px;
	text-decoration: none;
	cursor: pointer;
}
.button:hover{
	background:none;
	color: red;
}
